/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>> */



/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Opens Sans", sans-serif;
    font-size: 1em;
}

.container {
    display: flex;
    margin: 0 auto;
}


/* Fim - Layout <<<<<<<<<<<<<<<<<<<< */


/* Smartphone Portrait >>>>>>>>>>>>> */


/* Fim - Smartphone Portrait <<<<<<< */


/* Smartphone Landscape >>>>>>>>>>>> */
@media (min-width: 576px) {
    body { background-color: #000fff;

    }

}

/* Fim - Smartphone Landscape <<<<<< */


/* Tablet Portrait >>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {


}


/* Fim - Tablet Portrait <<<<<<<<<<< */


/* Tablet Landscape >>>>>>>>>>>>>>>> */
@media (min-width: 992px) {


}

/* Fim - Tablet Landscape <<<<<<<<<< */


/* Notebook / PC >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {


}

/* Fim - Notebook / PC <<<<<<<<<<<< */


/* Full HD / 4K >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

}

/* Fim - Full HD / 4K <<<<<<<<<<<< */
