/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Variáveis */
:root {
    --azul: #2e7a96;
    --azulEscuro: #14243c;
    --azulMedio: #191c25;
    --preto: #000000;
    --branco: #ffff;
    --verde: #88e788;
    --vermelho: #ff2c2c;
    --azuleletrico: #3498db;

}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Opens Sans", sans-serif;
    font-size 1em;
}
    
.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--azuleletrico);
    color: var(--branco);
    border: 1px solid var(--azul);
    padding: 0.8rem 1.8rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3);

}

.btn:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Fim - Layout <<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>> */

/* Cabecalho */
header {
    height: 85.5px;
    background-color: var(--azulMedio);
    border-bottom: 2.5px solid var(--azul);
}

#logo img {
    height: 150px;
    width: 150px;
    padding: 15px;
}

#check {
    display: none;
}

label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.7rem;
    position: fixed;
    right: 15px;
    top: 21.37px;
}

nav ul {
    height: 100vh;
    background-color: rgba(25, 28, 37, 0.9);
    position: fixed;
    right: -55%;
    width: 55%;
    top: 85.4px;
    transition: all 0.6s;
}

/* Ação para o Chackbox */
/* Quando selecionado alterar propriedades UL */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 17.5px;
    text-align: left;
    border-bottom: 1.5px solid var(--azulMedio);
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
    font-style: oblique;
}

/* Principal */
main {
    height: 50vh;
    background: url(./img/Banner_principal.jpg);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    text-align: center;
    margin: 10px;
}

main h2 {
    color: var(--branco);
    font-size: 0.7rem;
    font-weight: 200;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

/* Fim - Smartphone Portrait >>>>>>>>>>>>>> */


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabecalho */
    nav ul {
        width: 30%;
        right: -30%;
    }

    /* Principal */
    main {
        height: 80vh;
    }

    main h2 {
        font-size: 1rem;
    }
}

/* Fim - Smartphone Landscape >>>>>>>>>>>>> */


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Principal */

    main {
        height: 92vh;
    }

    main h1 {
        font-size: 2rem;
    }

    main h2 {
        font-size: 1.4rem;
    }
}

/* Fim - Tablet Portrait >>>>>>>>>>>>>>>>>> */


/* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }

    /* Principal */
    main {
        height: 89vh;
    }
}

/* Fim - TTablet landscape >>>>>>>>>>>>>>>> */


/* Notebook / PC  >>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabecalho */
    header {
        height: 100px;
    }

    /* Logo */
    #logo img {
        width: 200px;
        height: 200px;
    }

    /* Menu Hamburguer */
    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 16.2px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    nav ul li a:hover {
        color: var(--azul);
        text-decoration: underline;
    }

    /** Principal */
    main {
        height: 88vh;
    }
}

/* Fim - Notebook / PC >>>>>>>>>>>>>>>>>>>> */


/* FULL HD / 4K  >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    /* Principal */
    main {
        height: 89vh;
    }
    main h1 {
        font-size: 3rem;
    }
}

/* Fim - FULL HD / 4K >>>>>>>>>>>>>>>>>>>>> */
