/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Variáveis */
:root {
    --CinzaClaro: #fefef9;
    --azulEscuro: #083b5a;
    --branco: #fff;
    --cinzaClaro: #e8e8e8;
    --cinzaMedio: #5f3131;
    --cinzaEscuro: #181b24;
    --dourado: #ffc90e;
    --preto: #000000;
    --rosa: #bc82b6;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Opens Sans", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #33cccc;
    padding: 10px 40px;
    color: #ffffff;
    border-radius: 25px;
    border: 2px solid var(--branco);
}

/* Fim - Layout <<<<<<<<<<<<<<<<<<<< */


/* Smartphone Portrait >>>>>>>>>>>>> */

/* cabeçalho */
header {
    height: 180px;
    background-color: var(--azulEscuro);
}


#logo img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
}

#check {
    display: none;
}

label {
    color: var(--CinzaClaro);
    font-size: 3rem;
    position: fixed;
    right: 20px;
    top: 15px;
}

nav ul {
    height: 100vh;
    background-color: var(--cinzaEscuro);
    position: fixed;
    top: 70px;
    right: -70%;
    width: 42%;
    transition: all 0.5s;
}

/* ação para a caixa checkbox */
/* quando selecionado mudar propriedades ul */
#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--CinzaClaro);
}

nav ul li a {
    text-decoration: none;
    color: var(--cinzaClaro);
}

/* Principal*/
main {
    height: 50vh;
    background: url(./img/Banner_principal.jpg);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--azulEscuro);
    font-family: "Opens Sans, sans-serif";
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgb(223, 213, 213), 0px 15px 15px rgba(252, 252, 252, 0.836), 0px 20px 20px rgb(255, 255, 255);
}

main h2 {
    color: var(--preto);
    font-size: 1.85rem;
    font-weight: 900;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);   
}

/* Destaque */
#destaque {
    padding: 50px 10px;
    background: url(./img/pintura_residencia.jpg);
    background-size: cover;


}

 #destaque .container {
    flex-direction: column;


 }

#hero {
    text-align: center;

}

 #hero img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-bottom: 50px;
 }

 #hero-text h2 {
    margin-bottom: 15px;

 }

 .topic {
    display: flex;
    align-items: center;
    margin-top: 15px;
 }
 .topic p{
    margin-left: 15px;
    
 }

/* Fim - Smartphone Portrait <<<<<<< */


/* Smartphone Landscape >>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 42%;
        right: -42%;
    }


    /* Princpal */
    main {
        height: 86vh;
    }

    main h1 {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 2.5rem;
    }
    /* Destque */
    #destaque {
        padding: 50px 0px;
    }
    #destaque .container {
        flex-direction: row;
        align-items: center;



    }
    #hero{
        text-align: left;
    }
    #hero img {
        width: 200px;
        height: 200px;
        margin:0px 50px 0px 0px;

    }
    .topic {
        display: none;
    }
}

/* Fim - Smartphone Landscape <<<<<< */


/* Tablet Portrait >>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }
    /* Principal*/

    main h1 {
        font-size: 3.9rem;
    }
    main h2 {
        font-size: 3rem;
    } 
}


/* Fim - Tablet Portrait <<<<<<<<<<< */


/* Tablet Landscape >>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }
}

/* Fim - Tablet Landscape <<<<<<<<<< */


/* Notebook / PC >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    #logo img {
        width: 194px;
        height: 194px;
        
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a:hover {
        color: var(--dourado);
    }

    /* destaque */
    #destaque {
        /*Efeito Paralax bacanam em computadores*/
        background-attachment: fixed; 
    }

    #hero img{
        width: 400px;
        height: 400px;

    }

    .topic {
        display:flex

    }



}


/* Fim - Notebook / PC <<<<<<<<<<<< */


/* Full HD / 4K >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }
}

/* Fim - Full HD / 4K <<<<<<<<<<<< */
